<p>Hospital name: <%= @hospital.name %> </p>
<p>Hospital number of doctors: <%= @hospital.number_of_doctors %> doctors</p>
<p>List of unique universities that doctor's at hospital attended: <% @hospital.unique_doctor_universities.each do |u| %>
  <%= u + ', ' %>
<% end %></p>
