<h1><%= @hospital.name %></h1>

<section id="num_doctors">
  <p>Doctors Currently Attending: <%= @hospital.doctor_count %></p>
</section>

<p>
  Universities our Doctors Attended:
  <% @hospital.universities.each do |uni| %>
    <%= uni %>
  <% end %>
</p>
