<h1><%=@hospital.name%>'s Information</h1>
<p>Number of Doctors employed: <%=@hospital.doctors.count%></p>

<h2>Schools Attended by Staff</h2>
<%@hospital.unique_staff_schools.each do |school| %>
  <p><%=school%></p>
<%end%>
